/* public/css/index.css */
body {
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
    margin: 20px;
}

.nav-btns {
    text-align: center;
    margin: 20px;
}

.nav-btns a {
    margin: 10px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.nav-btns a:hover {
    background-color: #0056b3;
}

.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.producto-card {
    width: 200px; /* Ajusta el tamaño de la tarjeta según sea necesario */
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

.producto-card img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.producto-card h4 {
    font-size: 18px;
    margin: 10px 0;
}

.producto-card p {
    font-size: 16px;
    color: #333;
}

.producto-card a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px;
    background-color: #28a745;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.producto-card a:hover {
    background-color: #218838;
}
